  <!--Footer Section-->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar-text" href="#">©Copyright 2022. Tezz.inc</a>
    </div>
  </nav>