<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!--Main section-->
  <h1 class="about">About Me</h1>
  <h1 style="text-align: center;">Name: Tejinder Singh Pannu</h1>
  <div class="about-container">
<img src="/assests/images/photo.JPG">
<p>My interest in web development began early in 8th standard after I was introduced to HTML and basic CSS. Later on I pursued Computer Science
    in Higher Secondary and now, finally pursuing software engineering technology in CENTENNIAL COLLEGE, Canada.
</p>
<p>I have acquired numerous front-end and back-end development skills so far. HTML, CSS, JAVASCRIPT, JAVA PROGRAMMING, C#, SQL, and much more.
    My other interests include FOOTBALL, QUIZZING, DEBATES and MOVIE WATCHING. </p>
<a href="/assests/pdf/Tejinder-Singh-Pannu-COOP-RESUME.docx" download class="btn btn-primary">Download my RESUME</a>
</div>

<%- include ('partials/bottom_nav.ejs') %>  

<%- include ('partials/footer.ejs') %>