<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

  <!--Main section-->
<h1 class="contact-name">TEJINDER SINGH PANNU</h1>
  <div class="contact">
 <div class="contact_icon">Connect via Phone:<i class="fa-solid fa-phone-volume"></i>
    <div class="contact-number"><a class="aknow-more" href="tel: 4372541712">Call me at +1 437-254-1712</a></div></div>
    <div class="contact_icon">Connect via Mail:<i class="fa-solid fa-envelope"></i>
    <div class="contact-number"><a class="aknow-more" href="mailto: tejindersingh9170@gmail.com">Send me an email</a></div></div>
    <div class="contact_icon">Connect via Linkedin:<i class="fa-solid fa-inbox"></i>
    <div class="contact-number"><a class="aknow-more" href="https://www.linkedin.com/in/tejinder-singh-566602236/">My Profile</a></div></div>
  </div>

  <%- include ('partials/bottom_nav.ejs') %>  

  <%- include ('partials/footer.ejs') %>