<%- include (/partials/header.ejs') %>

<%- include (/partials/main_nav.ejs') %>

  <!--Main section-->
<div class="project-show">
  <div class="card mb-3">
    <img src="/assests/images/fys.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mental health support website</h5>
      <p class="card-text">I designed a website for individuals seeking mental help. The website had great use and accessibility.</p>
      <a href="/assests/zip/TEJINDER-PANNU-Assignment3.zip" download class="btn btn-primary">Download</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Image slideshow</h5>
      <p class="card-text">This cool looking image slider also functions automatically.</p>
      <a href="/assests/zip/ASSIGNMENT6.zip" download class="btn btn-primary">Download</a>
    </div>
    <img src="/assests/images/image-show.jpg" class="card-img-bottom" alt="...">
  </div>
  <div class="card mb-3">
    <img src="/assests/images/bug.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bug game</h5>
      <p class="card-text">One of my most exciting work. The bug game is fun and fully functional.</p>
      <a href="/assests/zip/ASSIGNMENT 5.zip" download class="btn btn-primary">Download</a>
    </div>
  </div>
  </div>
</div>

<%- include ('partials/bottom_nav.ejs') %>  

<%- include ('partials/footer.ejs') %>